name: Build and Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: tar -czvf bom-view-${{ github.ref_name }}-dist.tar.gz dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          files: bom-view-${{ github.ref_name }}-dist.tar.gz
